@* <button class="hex-tile @(Selected ? "selected" : "")" @onclick="OnClick" aria-label="@Label" type="button">
    <svg class="hex-shape" viewBox="0 0 100 100">
        <polygon points="50,5 95,27 95,72 50,95 5,72 5,27"
                 fill="@Color" stroke="white" stroke-width="5"
                 transform="rotate(90 50 50)" />
        <g class="icon-group">
            @Icon
        </g>
    </svg>
    <span class="hex-label">@Label</span>
</button>

@code {
    [Parameter] public string Color { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public RenderFragment Icon { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool Selected { get; set; }
}
 *@

<button class="hex-button @CssClass" @onclick="OnClick" @attributes="AdditionalAttributes" aria-label="@Label">
    <svg class="hex-shape" viewBox="0 0 100 100" width="150" height="130">
        <polygon points="50,5 95,27 95,72 50,95 5,72 5,27"
                 fill="@Color" stroke="white" stroke-width="10" transform="rotate(90 50 50)" />
        <g transform="translate(25,25) scale(0.50)">
            @IconSvg
        </g>
    </svg>
    @* <span class="hex-label">@Label</span> *@
</button>

@code {
    [Parameter] public string CssClass { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public RenderFragment IconSvg { get; set; }
    [Parameter] public string Color { get; set; } = "#FFCC00";
    [Parameter] public EventCallback OnClick { get; set; }
}
